/*default reset for al ancor tags*/
*a {
  outline: inherit;
  text-decoration: none;
}
*a:hover {
  outline: inherit;
  text-decoration: none;
}
*a:active {
  outline: inherit;
  text-decoration: none;
}

/*Design for mobile and tabs*/
@media screen and (max-width: 768px){
  
}






/*Design for laptops and larger screens*/
@media screen and (min-width: 767.8px){

}
